.regester-choice-container{
    place-items: center center;
}
.register-choice{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5%;
    width: 100px ;
    height: 200px ;
}