.card-container {
    position: relative;
    width: 100%;
    height: 22.875rem;
    border-radius: 15px;
}

.card-image {
    height: 13.75rem;
    border-radius: 15px 15px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-title-container {
    position: absolute;
    width: 100%;
    height: 5.313rem;
    top: 135px;
}

.card-title {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr max-content;
    height: 100%;
}

.business-title {
    display: grid;
    align-content: center;
}

.business-title > h2 {
    font-size: 1.75em;
    font-weight: 700 !important;
    margin-bottom: 2px;
}

.business-title > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0;
}

.card-settings-dot {
    font-size: 2em;
}

.card-settings {
    display: grid;
    cursor: pointer;
}

.menu-trigger {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 1.25rem;
    opacity: 0.5;
    transition: 400ms ease-in-out;
}
.menu-trigger:hover {
    opacity: 1;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8.875rem, 34.375rem));
    grid-template-rows: repeat(auto-fill, minmax(1rem, 1.563rem));
    grid-auto-flow: column;
}

.last-updated {
    display: grid;
    font-weight: 500;
    grid-auto-rows: min-content;
    opacity: 0.6;
}

.description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.phone {
    display: grid;
    grid-auto-columns: 0.1fr 1fr;
    grid-auto-flow: column;
}

.address {
    display: grid;
    grid-auto-columns: 0.1fr 1fr;
    grid-auto-flow: column;
}

.phone-address-icon {
    display: grid;
    align-content: center;
    justify-content: center;
}

.get-details-btn {
    display: grid;
    grid-row: 3/5;
    justify-content: center;
    align-content: center;
}
