.business-cards-page {
    display: flex;
    justify-content: center;    
    
}
.business-cards-components{
    background-color: #202226;
    max-width: 65.667vw;
    min-width: 63.635vw;
    border-radius: 15px;
}

/* make it more responsive */
.business-card-image {
    max-height: 34.1vh ;
    min-height: 30.1vh ;
}