body {
    display: grid;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
}

h2 {
    font-size: 1.25em;
    font-weight: 600;
}

.button-control {
    padding: 0 !important;
    width: 8rem;
    height: 2.5rem;
    border: none !important;
    border-radius: 10px !important;
}