/* Dark mode */
.body-dark {
    background-color: #18191a !important;
    color: #f8f9fa !important;
}

.navbar-footer-dark {
    background-color: #202226 !important;
    color: #f8f9fa !important;
}

.components-dark {
    background-color: #202226 !important;
}

.business-cards-dark {
    background-color: #18191a !important;
    color: #f8f9fa !important;
}

.business-cards-image-dark {
    background-color: #f8f9fa !important;
}


.buttons-dark {
    background-color: #212529 !important;
    color: #f8f9fa !important;
    font-weight: 700 !important;
}

.buttons-dark:hover {
    background-color: #f8f9fa !important;
    color: #212529 !important;
    font-weight: 700 !important;
}

.font-awesome-icon-button-dark {
    color: #f8f9fa !important;
}
.font-awesome-icon-button-dark:hover {
    color: #212529 !important;
}

.logo-color-dark {
    color: #f8f9fa !important;
    font-weight: 700 !important;
}

.logo-color-dark:active {
    color: #f8f9fa !important;
}

.logo-color-dark:hover {
    color: #f8f9fa !important;
    font-weight: 700 !important;
}

.text-dark {
    color: #f8f9fa !important;
}

.text-small-dark {
    color: #ffffff40 !important;
}

.link-dark {
    color: #ffffff40 !important;
    font-weight: 700 !important;
}

.link-dark:active {
    color: #ffffff40 !important;
    font-weight: 700 !important;
}

.link-dark:hover {
    color: #ffffff8c !important;
    font-weight: 700 !important;
}

.profile-image-dark {
    border: 2px solid #f8f9fa !important;
}

/* Light mode */
.body-light {
    background-color: #F8F4EA !important;
    color: #212529 !important;
}

.navbar-footer-light {
    background-color: #579BB1 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.components-light {
    background-color: #fcf2d9 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.business-cards-light {
    background-color: #fcf2d9 !important;
    color: #212529 !important;
}

.card-title-container {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(252, 242, 217, 0.8) 25%);
}

.business-cards-image-light {
    background-color: #f8f9fa !important;
}

.buttons-light {
    background-color: #F0DCA7 !important;
    opacity: 0.7;
    color: #212529 !important;
    font-weight: 700 !important;
    transition: 300ms ease-in-out;
}

.buttons-light:hover {
    opacity: 1;
}

.dropdown-menu-box-light {
    background-color: #F0DCA7
}

.dropdown-item-custom-light {
    color: #212529 !important;
    font-weight: 600 !important;
    opacity: 0.7;
}

.dropdown-item-custom:hover {
    background-color: #eace81 !important;
    transition: 300ms ease-in-out;
    font-weight: 700 !important;
    opacity: 1;
}

.logo-color-light {
    color: #212529 !important;
    font-weight: 700 !important;
}
.logo-color-light:active {
    color: #212529 !important;
}
.logo-color-light:hover {
    color: #212529 !important;
    font-weight: 700 !important;
}

.text-light {
    color: #212529 !important;
}

.text-small-light {
    color: #292121c0 !important;
}

.link-light {
    color: #212529 !important;
    opacity: 0.6;
    font-weight: 700 !important;
}

.link-light:active {
    color: #212529 !important;
    opacity: 0.9;
    font-weight: 700 !important;
}


.link-light:hover {
    color: #212529 !important;
    opacity: 0.9;
    font-weight: 700 !important;
}

.profile-image-light {
    border: 2px solid black !important;
}

